.datePicker{

    width: 1cm;
}

.react-datepicker__input-container {
    position: relative;
    display: inline-block;
    width: 1cm;
  
}

.react-datepicker-wrapper {
    display: inline-block;
    padding: 0;
    border: 0;
    width: 1cm;

}
/* .react-datepicker {
    font-size: 1.3rem !important;
  }
  
  .react-datepicker__current-month {
    font-size: 1.5rem !important;
  }
  
  .react-datepicker__header {
    padding-top: 6px !important;
  }
  
  .react-datepicker__navigation {
    top: 13px !important;
  }
  
  .react-datepicker__day-name, .react-datepicker__day {
    margin: 0.5rem !important;
  } */
  .rdtPicker {
    width: 40px; 
  }
  
  .rdtPicker tr {
    height: 50px; 
  }
  input {
   
    text-rendering: auto;
    color:blue;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    appearance: textfield;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin-left: 0.2cm;
    font: 400 13.3333px Arial;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(99, 11, 11));
    border-image: initial;
    font-weight: 20px;
    width: 4cm;

}


.makeStyles-root-11{

  margin-top: 0.6cm !important;
  margin-left: 0cm !important;
  margin-right: 0cm !important;
}


.tHead{

  max-width: 2cm;
  

}


.tH{

  max-width: 2cm;

}
.tHTwo{

  max-width: 4cm;

}

.MuiTableCell-root {
  display: table-cell;
  padding: 8px;
  font-size: 0.875rem;
  text-align: left;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.43;
  border: 1px solid black !important;
  letter-spacing: 0.01071em;
  vertical-align: inherit;
}



  