.container{
    display: grid;
    grid-template-columns: repeat(5,1);
    margin-left:500%;
}

.containerTwo{
    height: 800px;
    display: flex;
}

.divisionOne{

    height: 600px;
    width: 190px;
}

.divisionTwo{

    height: 600px;
    width: 400px;
}
.divisionThree{

    height: 600px;
    width: 750px;
}
.lineChart{
    color: black !important;
    height: 260px;
    width: 600px;
   padding: 0.5cm;
    margin: 1.6cm;
    margin-left: 0cm !important;
}
#myChart{
    height: 300px;
}



.table-responsive{
    margin-top: 0cm;
    margin-left:0cm;
    font-size: 12px;
    font-weight:900 !important;
    color: black !important;
}


.bar{
    margin-top:1.3cm;
}

.rcc{

    margin-left:10px !important;
}



.rccftr{

    margin-left:1px !important;
}

.secondChange{

    margin-top: 1cm;
    
    margin-left:10px;
    margin-right:10px;


}

.ftrbutton{
    color: honeydew !important;
    background-color: green  !important;
}


.MuiTypography-body1{

    font-weight: 900 !important;
   font-family: Arial, Helvetica, sans-serif;
   color: black !important;
}

.MuiTypography-colorTextSecondary{

    color: black !important;
    font-weight: 900 !important;
}


